<div id="startups_carousel" class="carousel slide well">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item" >
      <%= image_tag asset_path 'startups/backway_logo.png' %>
    </div>
    <div class="item">
      <%= image_tag asset_path 'startups/fieldpod_logo.png' %>
    </div>
    <div class="item">
      <%= image_tag asset_path 'startups/mashme_logo.png' %>
    </div>
    <div class="item">
      <%= image_tag asset_path 'startups/publiconn_logo.jpg' %>
    </div>
    <div class="item">
      <%= image_tag asset_path 'startups/2d_market_logo.png' %>
    </div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#startups_carousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#startups_carousel" data-slide="next">&rsaquo;</a>
</div>
