<h1><%= link_to @startup.name, @startup %></h1>

<div class='row'>

  <div class='span6'>
    <h3>Current Members</h3>
    <% @startup.users.each do |user| %>
      <div class='row-fluid'>
        <div class='span2'>
          <%= image_tag(gravatar_picture(user, 60), :class => 'img-circle') %>
        </div>
        <div class='span10'>
          <strong><%= user.username %></strong>
          <br/>
          <span class='muted'><%= user.realname %></span>
          <%= link_to raw("<i class='icon-remove pull-right icon-large'></i>"),
                      { :controller => :startupships,
                        :action => :destroy,
                        :startup_id => @startup,
                        :id => @startup.startupships.find_by_user_id(user.id).id },
                      :method => :delete,
                      :confirm => "Are you sure you wish to remove #{user.username} from this startup?",
                      :id => "remove_startupship_from_user_#{user.id}" %>
        </div>
      </div>
    <% end %>
  </div>

  <div class='span6'>
    <h3>Search for new members</h3>
    <div class='input-append'>
      <%= form_tag startup_startupships_path(@startup), :method => 'get' do %>
        <p>
          <%= text_field_tag :search,
                             params[:search],
                             :class => 'input-large',
                             :placeholder => 'by username or real name'%>
          <%= submit_tag 'Search',
                         :class => 'btn btn-info' %>
        </p>
        <!--span class='muted'>Can't find someone to check in? <= link_to 'Invite them to ZIPlaces!', new_location_invitation_path(@location) %></span> -->
      <% end %>
    </div>

    <% unless @searched_users == nil %>
      <% @searched_users.each do |user| %>
        <div class='row-fluid'>
          <div class='span2'>
            <%= image_tag(gravatar_picture(user, 60), :class => 'img-circle') %>
          </div>
          <div class='span10'>
            <strong><%= user.username %></strong>
            <br/>
            <span class='muted'><%= user.realname %></span>
            <%= link_to raw("<i class='icon-plus pull-right icon-large'></i>"),
                        { :controller => :startupships,
                          :action => :create,
                          :startup_id => @startup,
                          :startupship => { :user_id => user.id } },
                        :method => :post,
                        :id => "create_startupship_with_user_#{user.id}" %>
          </div>
        </div>
      <% end %>

    <% end %>

  </div>

</div>
