<legend>
  <h1>Sign up</h1>
</legend>

<%= simple_form_for(resource, :as => resource_name,
                              :url => registration_path(resource_name),
                              :html => { class: 'form-horizontal' } ) do |f| %>
  <!--%= devise_error_messages! %-->

  <%= f.input :username,
              hint: 'e.g. theBat',
              input_html: { class: 'input-xlarge' } %>
  <%= f.input :realname,
              hint: 'e.g. Bruce Wayne',
              input_html: { class: 'input-xlarge' } %>
  <%= f.input :bio,
              hint: 'e.g. Business man by day; fighting crime by night',
              input_html: { class: 'input-xlarge', rows: '10' } %>
  <%= f.input :email,
              hint: 'e.g. bruce.wayne@example.com',
              as: :email,
              label: '* Email',
              input_html: { class: 'input-xlarge' } %>
  <%= f.input :password,
              hint: 'minimum 8 characters long',
              label: '* Password',
              input_html: { class: 'input-xlarge' } %>
  <%= f.input :password_confirmation,
              hint: 'must be the same as password',
              label: '* Password confirmation',
              input_html: { class: 'input-xlarge' } %>
  <%= f.button :submit,
               "Sign up",
               style: 'margin-left: 180px;',
               :class => 'btn btn-warning btn-large' %>
<% end %>

<!--%= render "devise/shared/links" %-->
