<legend><h1><%= @title %></h1></legend>

<%= simple_form_for @startup,
                    :html => { class: 'form-horizontal', multipart: true } do |f| %>

  <%= f.input :name,
              input_html: { class: 'max_width' } %>

  <%= f.input :logo, hint: 'ProTIP: provide square pictures (200x200) for best effect' do %>
    <%= image_tag @startup.logo.url(:standard), :class => 'img-polaroid', :style => 'margin-bottom: 8px;' %>
    <br/>
    <%= f.file_field :logo %>
  <% end %>

  <%= f.input :short_description,
              hint: 'max 100 characters',
              as: :text,
              input_html: { class: 'max_width', rows: '3' } %>
  <%= f.input :long_description,
              as: :text, 
              input_html: { class: 'max_width', rows: '10' } %>

  <%= render 'markdown_cheatsheet' %>

  <%= f.button :submit, style: 'margin-left: 180px;', :class => 'btn btn-primary' %>


<% end %>
