<div class='row'>
  <div class='span12'>
    <%= link_to raw('<i class="icon-plus"></i> New Startup'),
                new_startup_path,
                :id => 'new_startup',
                :class => 'btn btn-warning' if current_user %>
    <%= link_to raw('<i class="icon-plus"></i> New Batch'),
                new_batch_path,
                :id => 'new_batch',
                :class => 'btn btn-warning' if current_user.try(:admin) %>
  </div>
</div>

<div style='clear: both;'>
  <% @batches.each do |batch| %>
    <% if batch.startups.count == 0 %>
      <div style='text-align: center;' class='well'>
      <h2>
        <%= link_to batch.title, batch %>
        <% if current_user.try(:admin) %>
          <%= link_to raw("<i class='icon-edit crud_icon'></i>"),
                      edit_batch_path(batch),
                      :id => "edit_batch_#{batch.id}" %>
            <%= link_to raw('<i class="icon-remove crud_icon"></i>'),
                        batch_path(batch),
                        :method => :delete,
                        :confirm => "Are you sure you wish to delete entire '#{batch.title}' batch ?",
                        :id => "delete_batch_#{batch.id}" %>
        <% end %>
      </h2>
      <p>Applications are open!</p>
      <%= link_to 'Apply here', '#', :class => 'btn btn-success' %>
      </div>
    <% else %>
      <div class='clearfix'>
        <h2 class='text-center'>
          <%= link_to batch.title, batch %>
          <% if current_user.try(:admin) %>
            <%= link_to raw("<i class='icon-edit crud_icon'></i>"),
                        edit_batch_path(batch),
                        :id => "edit_batch_#{batch.id}" %>
              <%= link_to raw('<i class="icon-remove crud_icon"></i>'),
                          batch_path(batch),
                          :method => :delete,
                          :confirm => "Are you sure you wish to delete entire '#{batch.title}' batch ?",
                          :id => "delete_batch_#{batch.id}" %>
          <% end %>
        </h2>
        <hr/>
        <% batch.startups.each do |startup| %>
          <%= render :partial => 'startups/startup_badge',
                     :locals => { :startup => startup } %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>

<!-- REST OF STARTUPS -->
<div style='clear: both;'>
  <h2 style='text-align: center'>All registered startups:</h2>
  <hr/>
  <% @startups.each do |startup| %>
    <%= render :partial => 'startups/startup_badge',
               :locals => { :startup => startup } %>
  <% end %>
</div>
