<legend><h1><%= @title %></h1></legend>

<%= simple_form_for @event, :html => { class: 'form-horizontal' } do |f| %>

  <%= f.input :title,
              placeholder: "Super exciting title",
              input_html: { class: 'max_width' } %>
  <%= f.input :beginning,
              as: :string,
              placeholder: '26.9.2099 17:00' %>
  <%= f.input :ending,
              as: :string,
              placeholder: '28.8.2099 12:15' %>
  <%= f.input :location,
              as: :string,
              placeholder: 'ZIP.Events' %>

  <%= f.input :featured_image, hint: 'ProTIP: provide landscape pictures (600x360) for best effect' do %>
    <%= image_tag @event.featured_image.url(:standard), :class => 'img-polaroid', :style => 'margin-bottom: 8px;' %>
    <br/>
    <%= f.file_field :featured_image %>
  <% end %>

  <%= f.input :description,
              as: :text,
              placeholder: "A tiny description to get people excited...",
              input_html: { class: 'max_width' } %>

  <%= render 'markdown_cheatsheet' %>

  <%= f.button :submit, style: 'margin-left: 180px;', :class => 'btn btn-primary' %>

<% end %>
