<%= content_for :header do %>
  <div class="carousel_background">
    <div class='container'>

      <div id="myCarousel" class="carousel slide">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>
        <!-- Carousel items -->
        <div class="carousel-inner">
          <div class="active item my_carousel" style="background-image: url(<%= asset_path 'pic_2.jpg' %>);">
            <h1>Zagreb Entrepreneurship<br/>Incubator</h1>
          </div>
          <div class="item my_carousel" style="background-image: url(<%= asset_path 'pic_5.jpg' %>);">
            <h1>Take a leap!<br/>Join a startup!</h1>
          </div>
          <div class="item my_carousel" style="background-image: url(<%= asset_path 'pic_6.jpg' %>);">
            <h1>Talk with mentors!</h1>
          </div>
          <div class="item my_carousel" style="background-image: url(<%= asset_path 'pic_coworking_3.jpg' %>);">
            <h1>Work in our<br/>coworking space!</h1>
          </div>
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
      </div>

    </div>
  </div>
<% end %>

<h2><%= link_to Post.last.title %></h2>
