<!-- CAROUSEL -->
<%= content_for :header do %>
  <div class="carousel_background">
    <div class='container'>

      <div id="myCarousel" class="carousel slide">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>
        <!-- Carousel items -->
        <div class="carousel-inner">
          <div class="active item hero_carousel" style="background-image: url(<%= asset_path 'pic_2.jpg' %>);">
            <h1>Zagreb<br/>Entrepreneurship<br/>Incubator</h1>
          </div>
          <div class="item hero_carousel" style="background-image: url(<%= asset_path 'pic_5.jpg' %>);">
            <h1>Take it to the<br/>next level</h1>
          </div>
          <div class="item hero_carousel" style="background-image: url(<%= asset_path 'pic_6.jpg' %>);">
            <h1>Talk with mentors</h1>
          </div>
          <div class="item hero_carousel" style="background-image: url(<%= asset_path 'pic_coworking_3.jpg' %>);">
            <h1>Work in our<br/>coworking space</h1>
          </div>
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
      </div>

    </div>
  </div>
<% end %>

<div class='row'>
  <!-- MAINBAR -->
  <div class='span8'>
    <h1>News <i class='icon-globe'></i></h1>
    <% Post.last(3).reverse.each do |post| %>
      <%= render :partial => 'posts/post', :locals => { :post => post } %>
    <% end %>
  </div>
  <!-- SIDEBAR -->
  <div class='span4'>
    <%= render 'application/widgets/events' %>
    <%= render 'application/widgets/startups_carousel' %>
    <%= render 'application/widgets/social_media' %>
  </div>
</div>

<!-- HERO TEXT -->
<div style='margin: 40px auto;
            padding-top: 40px;
            border-top: 1px solid #ddd;'>
  <h1 style='text-align: center;'>ZIP is a place to be for european startups!</h1>
  <p style='width: 700px; margin: 0px auto; text-align: center;' class='lead'>
    Zagrebački Inkubator Poduzetništva (Zagreb Entrepreneurship Incubator) is a non-profit organisaion with a mission to help entrepreneurs from the region of Southeastern Europe build their companies. We are...
  </p>
</div>

<!-- SUBHERO ICONS -->
<div class='schematic_icons'>
  <div class='row'>
    <div class='span4'>
      <div class='icon_background'>
        <h2><i class='icon-lightbulb icon-4x'></i></h2>
      </div>
      <h2>1. incubator</h2>
      <p>Ideas change the world. They challenge status quo and help the world move forward. Dare to fail. Fail to succeed.</p>
    </div>

    <div class='span4'>
      <div class='icon_background'>
        <h2><i class='icon-briefcase icon-4x' style='color: #6cc0e5'></i></h2>
      </div>
      <h2>2. coworking</h2>
      <p>Ideas would be nothing without realisation. We deliver by helping projects grow, mature and execute using our experience and resources.</p>
    </div>

    <div class='span4'>
      <div class='icon_background'>
        <h2><i class='icon-group icon-4x' style='color: #f58327'></i></h2>
      </div>
      <h2>3. community</h2>
      <p>Projects and ideas are nothing without amazing people and communities who make them become reality. We know that and try to create the most awesome community out there. Join us.</p>
    </div>
  </div>
</div>

<!-- SUBHERO PICTURES -->
<div class="row">
  <div class="span4">
    <div style='background-image: url(<%= asset_path 'community.jpg' %>);' class='subhero_picture'>
      <h1>ADVICE</h1>
    </div>
    <p style='padding-top: 8px;'>
      One of the most important things in every organisation is community so we invest a lot of our time strenghtening our community. We expand it via our <%= link_to 'mentor network', users_path %> that stretches all the way across the globe and organise events and hangouts so you guys are never bored!
    </p>
  </div>
  <div class="span4">
    <div style='background-image: url(<%= asset_path 'zip_events.jpg' %>);' class='subhero_picture'>
      <h1>EVENTS</h1>
    </div>
    <p style='padding-top: 8px;'>Our calendar is filled with interesting events, hangouts and lectures. We have organised a bunch of conferences and very active in the region. Check out our <%= link_to 'blog', posts_path %> for impressions from previous events as well as for the upcoming ones.</p>
  </div>
  <div class="span4">
    <div style='background-image: url(<%= asset_path 'culture.jpg' %>);' class='subhero_picture'>
      <h1>CULTURE</h1>
    </div>
    <p style='padding-top: 8px;'>We have fun, practice openness and encourage sharing in ways that create the ultimate environment for learning, success, and awesomeness. We change the world and have lots of fun doing it!</p>
  </div>
</div>

<%= render :partial => 'application/widgets/testimonials' %>
<%= render :partial => 'application/partners' %>
