<div class='row' style='margin-top: 20px;'>
  <h1>Program Partner</h1>
  <div class='span8'>
    <h3><%= link_to 'The University of Zagreb', "http://www.unizg.hr/homepage/" %></h3>
    <p>
      The University of Zagreb, established in the second half of the 17th century, is the oldest continuously active University in Croatia and among the oldest in Europe.
      More info on the partnership between the Zagreb entrepreneurship incubator and the University of Zagreb is available here.
    </p>
  </div>
  <div class='text-center span4'>
    <%= image_tag asset_path 'partners/sveuciliste_logo.png' %>
  </div>
</div>

<hr/>

<div class='row'>
  <h1>Sponsor</h1>
  <div class='span8'>
    <h3><%= link_to "ERSTE Group Bank AG", 'http://www.erstebank.hr/en' %></h3>
    <p>
      ERSTE Group Bank AG is one of the largest financial services providers in Central and Eastern Europe and focuses on retail and SME banking.
      ERSTE bank is a strategic partner of Zagreb Entrepreneurship Incubator.
    </p>
  </div>
  <div class='text-center span4'>
    <%= image_tag asset_path 'partners/erste_logo.png' %>
  </div>
</div>

<hr/>

<div class='row'>
  <h2 style='margin-bottom: 40px; text-align: center;'>Network partners:</h2>
  <div class='text-center span3'>
    <div class='partner_badge'>
      <%= image_tag asset_path 'partners/crane_logo.png' %>
    </div>
  </div>
  <div class='text-center span3'>
    <div class='partner_badge'>
      <%= image_tag asset_path 'partners/zgphp_logo.jpg' %>
    </div>
  </div>
  <div class='text-center span3'>
    <div class='partner_badge'>
      <%= image_tag asset_path 'partners/gs1_logo.jpg' %>
    </div>
  </div>
  <div class='text-center span3'>
    <div class='partner_badge'>
      <%= image_tag asset_path 'partners/e_alumni_logo.jpg' %>
    </div>
  </div>
</div>

<div class='row'>
  <div class='text-center span3'>
    <div class='partner_badge'>
      <%= image_tag asset_path 'partners/cisex_logo.png', :style => 'margin-bottom:-120px;' %>
    </div>
  </div>
  <div class='text-center span3'>
    <div class='partner_badge'>
      <%= image_tag asset_path 'partners/pmi_logo.png' %>
    </div>
  </div>
  <div class='text-center span3'>
    <div class='partner_badge'>
      <%= image_tag asset_path 'partners/hropen_logo.png' %>
    </div>
  </div>
</div>
