<div class='row'>
  <h1>Program Partners</h1>
  <div class='span3'>
    <%= image_tag asset_path 'partners/sveuciliste_logo.png' %>
  </div>
  <div class='span9'>
    <p>
      The University of Zagreb, established in the second half of the 17th century, is the oldest continuously active University in Croatia and among the oldest in Europe.
      More info on the partnership between the Zagreb entrepreneurship incubator and the University of Zagreb is available here.
    </p>
  </div>
</div>

<div class='row'>
  <h1>Sponsors</h1>
  <div class='span3'>
    <%= image_tag asset_path 'partners/erste_logo.png' %>
  </div>
  <div class='span9'>
    <p>
      ERSTE Group Bank AG is one of the largest financial services providers in Central and Eastern Europe and focuses on retail and SME banking.
      ERSTE bank is a strategic partner of Zagreb Entrepreneurship Incubator.
    </p>
  </div>
</div>

<div class='row'>
  <h2>Network partners:</h2>
  <div class='span3'>
    <%= image_tag asset_path 'partners/crane_logo.png' %>
  </div>
  <div class='span3'>
    <%= image_tag asset_path 'partners/cisex_logo.png' %>
  </div>
  <div class='span3'>
    <%= image_tag asset_path 'partners/e_alumni_logo.jpg' %>
  </div>
  <div class='span3'>
    <%= image_tag asset_path 'partners/zgphp_logo.jpg' %>
  </div>
</div>

<div class='row'>
  <div class='span3'>
    <%= image_tag asset_path 'partners/hropen_logo.png' %>
  </div>
  <div class='span3'>
    <%= image_tag asset_path 'partners/pmi_logo.png' %>
  </div>
  <div class='span3'>
    <%= image_tag asset_path 'partners/gs1_logo.jpg' %>
  </div>
</div>
