<h2 style='border-bottom: 1px solid #ddd;'>Founders</h2>

<div class='row'>
  <div class='span3'>
    <h3>Ivo Špigel</h3>
    <%= image_tag asset_path 'people/ivo_spigel.jpg' %>
  </div>
  <div class='span3'>
    <h3>Saša Cvetojević</h3>
    <%= image_tag asset_path 'people/sasa_cvetojevic.jpg' %>
  </div>
  <div class='span3'>
    <h3>Mihovil Barančić</h3>
    <%= image_tag asset_path 'people/mihovil_barancic.jpg' %>
  </div>
  <div class='span3'>
    <h3>Damir Sabol</h3>
    <%= image_tag asset_path 'people/damir_sabol.jpg' %>
  </div>
</div>

<h2 style='border-bottom: 1px solid #ddd; margin-top: 100px;'>Advisory board</h2>

<div class='row'>
  <div class='span3'>
    <h3>Dave McClure</h3>
    <%= image_tag 'http://placekitten.com/300/300' %>
  </div>
  <div class='span3'>
    <h3>Carlos Espinal</h3>
    <%= image_tag 'http://placekitten.com/302/301' %>
  </div>
  <div class='span3'>
    <h3>Stefan Glaenzer</h3>
    <%= image_tag 'http://placekitten.com/300/301' %>
  </div>
  <div class='span3'>
    <h3>Nenad Marovac</h3>
    <%= image_tag 'http://placekitten.com/301/300' %>
  </div>
</div>
