<h2 style='border-bottom: 1px solid #ddd;'>Current generation</h2>

<div class='row'>
  <div class='span3'>
    <h3>2D distribucija</h3>
    <%= image_tag asset_path 'startups/2d_market_logo.png' %>
    <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div class='span3'>
    <h3>Backway</h3>
    <%= image_tag asset_path 'startups/backway_logo.png' %>
    <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div class='span3'>
    <h3>Fieldpod</h3>
    <%= image_tag asset_path 'startups/fieldpod_logo.png' %>
    <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div class='span3'>
    <h3>iDerma</h3>
    <%= image_tag asset_path 'startups/iderma_logo.jpg' %>
    <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
</div>

<div class='row' style='margin-top: 40px;'>
  <div class='span3'>
    <h3>Indoor Vision</h3>
    <%= image_tag asset_path 'startups/indoorvision_logo.png' %>
    <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div class='span3'>
    <h3>Mashme</h3>
    <%= image_tag asset_path 'startups/mashme_logo.png' %>
    <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div class='span3'>
    <h3>Nutrikod</h3>
    <%= image_tag asset_path 'startups/nutrikod_logo.jpg' %>
    <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div class='span3'>
    <h3>Publiconn</h3>
    <%= image_tag asset_path 'startups/publiconn_logo.jpg' %>
    <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
</div>

<h2 style='border-bottom: 1px solid #ddd; margin-top: 100px;'>1st generation</h2>

<div class='row'>
  <div class='span3'>
    <h3>2D distribucija</h3>
    <%= image_tag asset_path 'startups/2d_market_logo.png' %>
    <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div class='span3'>
    <h3>Backway</h3>
    <%= image_tag asset_path 'startups/backway_logo.png' %>
    <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div class='span3'>
    <h3>Fieldpod</h3>
    <%= image_tag asset_path 'startups/fieldpod_logo.png' %>
    <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div class='span3'>
    <h3>iDerma</h3>
    <%= image_tag asset_path 'startups/iderma_logo.jpg' %>
    <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
</div>

<div class='row' style='margin-top: 40px;'>
  <div class='span3'>
    <h3>Indoor Vision</h3>
    <%= image_tag asset_path 'startups/indoorvision_logo.png' %>
    <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div class='span3'>
    <h3>Mashme</h3>
    <%= image_tag asset_path 'startups/mashme_logo.png' %>
    <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div class='span3'>
    <h3>Nutrikod</h3>
    <%= image_tag asset_path 'startups/nutrikod_logo.jpg' %>
    <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div class='span3'>
    <h3>Publiconn</h3>
    <%= image_tag asset_path 'startups/publiconn_logo.jpg' %>
    <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
</div>

<div class='row'>
  <div class='span3'>
    <h3>Sminkerica</h3>
    <%= image_tag asset_path 'startups/sminkerica_logo.jpg' %>
    <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
</div>
