<div class='row'>

  <div class='span6'>
    <h1>Edit Batch</h1>
    <%= render 'form' %>
    <% unless @batch.startups.count == 0 %>
      <% @batch.startups.each do |startup| %>
        <div class='row-fluid'>
          <div class='span2'>
            <%= image_tag startup.logo.url(:standard) %>
          </div>
          <div class='span10'>
            <%= startup.name %>
            <br/>
            <small><%= startup.short_description %></small>
            <%= link_to raw("<i class='icon-remove pull-right icon-large'></i>"),
                        { :controller => :batch_startup_joins,
                          :action => :destroy,
                          :batch_id => @batch,
                          :id => @batch.batch_startup_joins.find_by_startup_id(startup.id).id },
                        :method => :delete,
                        :confirm => "Are you sure you wish to remove #{startup.name} from this batch?",
                        :id => "remove_batch_startup_join_from_startup_#{startup.id}" %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class='span6'>
    <h3>Search for new startups</h3>
    <div class='input-append'>
      <%= form_tag edit_batch_path(@batch), :method => 'get' do %>
        <p>
          <%= text_field_tag :search,
                             params[:search],
                             :class => 'input-large',
                             :placeholder => 'by startup name'%>
          <%= submit_tag 'Search',
                         :class => 'btn btn-info' %>
        </p>
      <% end %>
    </div>
    <% unless @searched_startups == nil %>
      <% @searched_startups.each do |startup| %>
        <div class='row-fluid'>
          <div class='span2'>
            <%= image_tag startup.logo.url(:standard) %>
          </div>
          <div class='span10'>
            <%= startup.name %>
            <br/>
            <small><%= startup.short_description %></small>
            <br/>
            <%= link_to raw("<i class='icon-plus pull-right icon-large'></i>"),
                        { :controller => :batch_startup_joins,
                          :action => :create,
                          :batch_id => @batch,
                          :batch_startup_join => { :startup_id => startup.id } },
                        :method => :post,
                        :id => "create_batch_startup_join_with_startup_#{startup.id}" %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

</div>
