<%= content_for :mainbar do %>
  <h1>All posts:</h1>
  <%= render @posts %>
<% end %>

<%= content_for :sidebar do %>
  <%= link_to 'New Post',
              new_post_path,
              :id => 'new_post',
              :class => 'btn btn-success' if current_user.try(:admin) %>

  <%= render 'application/widgets/events' %>
  <%= render 'application/widgets/social_media' %>
  <%= render 'application/widgets/startups_carousel' %>

<% end %>
