<%= content_for :mainbar do %>

  <h2><%= link_to @post.title, @post, :id => "@post_#{@post.id}" %></h2>
  <small>
    by <%= @post.user.username %> on <%= time_tag(@post.created_at, :format => '%B %d, %Y') %>
  </small>

  <p><%= @post.body %></p>

<% end %>

<%= content_for :sidebar do %>

  <h3>Recent posts:</h3>

<% end %>
