<div id='footer'>
  <div class='container'>
    <div class='row'>

      <div class='span8'>
        <small>© 2013 Zagreb Entrepreneurship Incubator</small>
        <br/>
        <small><%= link_to raw("Fork us on GitHub <i class='icon-github'></i>"), 'https://github.com/ofcan/zip-home' %></small>
      </div>
      <div class='span4'>
        <small>Say hello on social media!</small>
        <h4>
          <%= link_to raw('<i class="icon-facebook" style="margin-left: 15px;"></i>'), 'https://www.facebook.com/ZIPZg' %>
          <%= link_to raw("<i class='icon-twitter' style='margin-left: 15px;'></i>"), 'https://twitter.com/zipzg' %>
          <%= link_to raw("<i class='icon-linkedin'style='margin-left: 15px;'></i>"), 'http://www.linkedin.com/company/zip-incubator' %>
          <%= link_to raw("<i class='icon-google-plus'style='margin-left: 15px;'></i>"), 'https://plus.google.com/106468077941615064478/posts' %>
        </h4>
      </div>

    </div>
  </div>
</div>
