<div class='row'>
  <div class='text-center span2'>
    <div class='partner_badge'>
    </div>
  </div>
  <div class='text-center span2'>
    <div class='partner_badge'>
      <%= image_tag asset_path 'partners/sveuciliste_logo.png' %>
    </div>
  </div>
  <div class='text-center span2'>
    <div class='partner_badge'>
      <%= image_tag asset_path 'partners/crane_logo.png' %>
    </div>
  </div>
  <div class='text-center span2'>
    <div class='partner_badge'>
      <%= image_tag asset_path 'partners/zgphp_logo.jpg' %>
    </div>
  </div>
  <div class='text-center span2'>
    <div class='partner_badge'>
      <%= image_tag asset_path 'partners/gs1_logo.jpg' %>
    </div>
  </div>
</div>

<div class='row' style='margin-bottom: -40px;'>
  <div class='text-center span1'>
    <div class='partner_badge'>
    </div>
  </div>
  <div class='text-center span2'>
    <div class='partner_badge'>
      <%= image_tag asset_path 'partners/erste_logo.png' %>
    </div>
  </div>
  <div class='text-center span2'>
    <div class='partner_badge'>
      <%= image_tag asset_path 'partners/e_alumni_logo.jpg' %>
    </div>
  </div>
  <div class='text-center span2'>
    <div class='partner_badge'>
      <%= image_tag asset_path 'partners/cisex_logo.png', :style => 'margin-bottom:-120px;' %>
    </div>
  </div>
  <div class='text-center span2'>
    <div class='partner_badge'>
      <%= image_tag asset_path 'partners/pmi_logo.png' %>
    </div>
  </div>
  <div class='text-center span2'>
    <div class='partner_badge'>
      <%= image_tag asset_path 'partners/hropen_logo.png' %>
    </div>
  </div>
</div>
