<!DOCTYPE html>

<html>
  <%= render 'head' %>

  <body>
    <%= render 'bootstrap_navbar' %>

    <div class="container">
      <%= render 'flash_messages' %>

      <div class="row">
        <div class="span12">
          <%= yield %>
        </div>
      </div>

    <%= render 'footer' %>
    </div>
  </body>

</html>
