<!DOCTYPE html>

<html>
  <%= render 'head' %>

  <body>
    <%= render 'bootstrap_navbar' %>

    <div class="container">
      <%= render 'flash_messages' %>

      <div class="row">
        <div class="span8">
          <%= yield :mainbar %>
        </div>

        <div class="span4">
          <%= yield :sidebar %>
        </div>
      </div>

    </div>
    <%= render 'footer' %>
  </body>

</html>
